@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   height: 100vh;
   background-color: black;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-thumb {
   background: rgb(174, 174, 174);
   border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
   background: #313131;
}

h1 {
   position: relative;
   top: -100px;
}

.j {
   position: absolute;
   width: 350px;
   top: calc(50%);
   left: calc(50% + 210px);
   transform: translate(-50%, -50%);
}

.h {
   position: absolute;
   color: white;
   width: 350px;
   top: calc(50% - 149px);
   left: calc(50% - 400px);
   transform: translate(-50%, -50%);
}

.eye {
   position: absolute;
   color: white;
   width: 350px;
   top: calc(50% - 145px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}

.comma {
   position: absolute;
   color: white;
   width: 350px;
   top: calc(50% - 150px);
   left: calc(50% - 300px);
   transform: translate(-50%, -50%);
}

.I {
   position: absolute;
   color: white;
   width: 350px;
   top: calc(50% - 50px);
   left: calc(50% - 490px);
   transform: translate(-50%, -50%);
}
.comma-2 {
   position: absolute;
   color: white;
   width: 350px;
   top: calc(50% - 60px);
   left: calc(50% - 460px);
   transform: translate(-50%, -50%);
}
.m {
   position: absolute;
   color: white;
   width: 350px;
   top: calc(50% - 50px);
   left: calc(50% - 430px);
   transform: translate(-50%, -50%);
}

.j-2 {
   position: absolute;
   color: white;
   width: 900px;
   top: calc(50% - 50px);
   left: calc(50% - 300px);
   transform: translate(-50%, -50%);
}

.a {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.y {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.m-2 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.i-2 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.e {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.R {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.e-2 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.d {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.m-3 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.a-2 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.n {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.comma-3 {
   position: absolute;
   color: white;
   width: 350px;
   top: calc(50% - 60px);
   left: calc(50% - 460px);
   transform: translate(-50%, -50%);
}
.A {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.S {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.o {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.f {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.t {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.w {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.a-3 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.r {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.e-3 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.D {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.e-4 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.v {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.e-5 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.l {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.o-2 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.p {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.e-6 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.r-2 {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}
.period {
   position: absolute;
   color: white;
   width: 750px;
   top: calc(50% + 50px);
   left: calc(50% - 340px);
   transform: translate(-50%, -50%);
}

.square {
   width: 400px;
   height: 400px;
   background-color: red;
   position: relative;
   top: 250px;
}
.square-2 {
   width: 400px;
   height: 400px;
   background-color: rgb(132, 3, 245);
   position: relative;
   top: 250px;
}
.square-3 {
   width: 400px;
   height: 400px;
   background-color: rgb(19, 226, 1);
}

#home {
   display: flex;
   top: 0;
}

.all-pages {
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: black;
   opacity: 1;
   z-index: 1;
}

.home-section {
   height: 100vh;
   background: linear-gradient(to bottom right, #dd00ce, #4500c4);

   /* transition: background-color 2s ease-in-out; */
}

.work-section {
   height: 100vh;
   background-color: #313131;
   transition: background-color 2s ease-in-out;
}
.about-section {
   height: 100vh;
   background-color: #313131;

   transition: background-color 2s ease-in-out;
}
.contact-section {
   height: 100vh;
   background-color: #313131;

   transition: background-color 2s ease-in-out;
}

svg circle {
   fill: rgba(255, 255, 255, 0.961);
   z-index: 99;
   left: 100px;
}

#nav-container {
   position: relative;
}

nav {
   position: absolute;
   z-index: 2;
   right: 270px;
   top: 0;
   width: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-links {
   display: block;
   width: 20%;
   height: 100%;
   font-size: 20px;
   line-height: 100px;
   color: rgb(255, 255, 255);
   text-align: center;
   z-index: 100;
}

svg {
   position: absolute;
   z-index: -1;
   left: -180px;
   top: 0px;
   height: 200px;
   width: 700px;
}
