@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   height: 100vh;
   scrollbar-color: #313131;
   background-color: #1d1d1d;
}

.name-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
}

#textblock {
   height: 140px;
   font-family: Signika Negative, sans-serif;
   font-weight: 300;
   color: #989898;
   padding: 10px;
   font-size: 3vw;
   line-height: 1.4;
}

.orange {
   color: #f60;
}

.intro p {
   font-size: 5rem;
   color: white;
   margin: 0;
   line-height: 0;
}

.text-wrapper p {
   font-size: 5rem;
   color: white;
   line-height: 0;
}

.text-wrapper p:nth-of-type(1) {
   color: rgb(124, 255, 251);
}
.text-wrapper p:nth-of-type(2) {
   color: rgb(133, 255, 133);
}
.text-wrapper p:nth-of-type(3) {
   color: rgb(129, 129, 255);
}
.text-wrapper p:nth-of-type(4) {
   color: rgb(255, 127, 255);
}

.text-wrapper p:nth-of-type(5) {
   color: rgb(255, 255, 127);
}

.home-section {
   height: 100vh;
   background: linear-gradient(to bottom right, #8c8c8c, #2a2a2a);
}

.start {
   background: linear-gradient(to bottom right, #2a2a2a, #8c8c8c);
}

.all-pages {
   position: absolute;
   height: 100%;
   width: 100%;
   opacity: 1;
   z-index: 1;
}

.work-section {
   height: 100vh;
   background-color: #313131;
   transition: background-color 2s ease-in-out;
}
.about-section {
   height: 100vh;
   background-color: #313131;

   transition: background-color 2s ease-in-out;
}
.contact-section {
   height: 100vh;
   background-color: #313131;

   transition: background-color 2s ease-in-out;
}

svg circle {
   fill: rgba(255, 255, 255, 0.961);
   z-index: 99;
   left: 100px;
}

html {
   width: 100vw;
   scrollbar-color: #313131;
   scroll-padding-block-end: 10px;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-thumb {
   background: rgb(174, 174, 174);
   border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
   background: #313131;
}

h1 {
   position: relative;
   top: -100px;
}

section.show-animate .animate {
   filter: blur(0);
}

.square {
   width: 400px;
   height: 400px;
   background-color: red;
   position: relative;
   top: 250px;
}
.square-2 {
   width: 400px;
   height: 400px;
   background-color: rgb(132, 3, 245);
   position: relative;
   top: 250px;
}
.square-3 {
   width: 400px;
   height: 400px;
   background-color: rgb(19, 226, 1);
}

#home {
   display: flex;
   top: 0;
}

#nav-container {
   position: relative;
}

nav {
   position: absolute;
   z-index: 2;
   right: 270px;
   top: 0;
   width: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-links {
   display: block;
   width: 20%;
   height: 100%;
   font-size: 20px;
   line-height: 100px;
   color: rgb(255, 255, 255);
   text-align: center;
   z-index: 100;
   cursor: pointer;
}

svg {
   position: absolute;
   z-index: -1;
   left: -180px;
   top: 0px;
   height: 200px;
   width: 700px;
}

.scroll-down {
   z-index: 50;
}
