@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
}

.j {
   position: absolute;
   width: 350px;
   top: calc(50%);
   left: calc(50%);
   transform: translate(-50%, -50%);
}

.hi {
   position: absolute;
   width: 350px;
   top: calc(50%);
   left: calc(50%);
   transform: translate(-50%, -50%);
}

.nav-links:hover {
   background-color: rgb(60, 0, 255);
}
.nav-links.active {
   background-color: black;
}

.square {
   width: 800px;
   height: 800px;
   background-color: red;
}
.square-2 {
   width: 800px;
   height: 800px;
   background-color: rgb(132, 3, 245);
}
.square-3 {
   width: 800px;
   height: 800px;
   background-color: rgb(19, 226, 1);
}

#home {
   display: flex;
   top: 0;
}
